*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    align-items: center;
    align-content: center;
    text-align: center;
    background-image: url(../Image/background2.jpg);
    background-size: cover;
    backdrop-filter: blur(2px) ;
    background-blend-mode: darken;
}
body h1{
    color:white;

}
body h2{
    color: darkslategray;
}
body a{
    color: darkblue;
    padding: 10px 10px 10px 10px;
}
a:hover{
    background: lightseagreen;
    
    
    border-radius: 30px;
    transition: .5s;
}
body li{
    color: darkslategray;
    font-size: 18px;
}
body div{
    color:darkslategrey;
}
body u{
    color: mediumblue;
    font-size: 20;
}
body h3{
    color: chocolate;
}
body p{
    color: darkolivegreen;
    font-size: 20px;
}
body b{
    color: black;
    font-size: 20px;
}
body video{
    border-radius: 20px;
    width: 500px;
    margin-left: 50px;
}
body .map{
    color: rgb(189, 136, 2);
}
.socialicons .i{
    padding-left: 20px;

}
footer{
    background: #fff;
    text-align: right;
    font-size: 10px;
}
footer p{
    color: blue;